.profile {
  .spinner {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    padding: 1.6rem;
    background-color: $white;
    border-radius: 1.5rem;

    // shadow variable in global.styles variables
    @include shadow;

    @include media("<tablet") {
      padding: 0.2rem;
    }

    .container-btn {
      text-align: right;

      button {
        border: none;
        background: none;
        cursor: pointer;

        .icon {
          fill: $secondary;
        }
      }
    }

    h1 {
      color: $text;
      letter-spacing: 0.09rem;
      margin-bottom: 0;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
      }
    }

    hr {
      margin: auto;
      margin-top: 0;
      width: 100%;
      border: 0.06rem solid $blue;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.7rem;
      margin: 0.6rem;

      @include media("<desktop") {
        margin: 0.4rem;
      }
    }

    a {
      p {
        color: $blue;
      }
    }

    .img-container {
      @include media("<tablet") {
        padding-top: 0.6rem;
      }

      img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        display: block;
        object-fit: cover;
        margin: auto;
      }
    }

    .icon {
      width: 1.3rem;
      height: 1.3rem;
      margin-right: 0.5rem;
      vertical-align: sub;

      &.bio {
        margin-right: 0;
      }
    }
  }
}
