.like-unlike-btn {
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &.like {
      fill: $error;
    }

    svg {
      width: 1rem;
    }
  }
}
