.add-comment {
  width: 100%;

  form {
    border-radius: 4px;
    padding-top: 3rem;

    input {
      display: block;
      border: 0.2rem solid $blue;
      border-radius: 1rem;
      background: transparent;
      width: 95%;
      height: 4rem;
      padding-left: 1rem;
      margin: auto;
      font-size: 1rem;
      box-sizing: border-box;

      transition: border-bottom-color 0.5s ease;

      &.errors {
        border-bottom-color: $error;
      }

      &:focus {
        outline: none;
        border-bottom-color: $secondary;
      }
    }

    p {
      color: $error;
      font-size: 1rem;
    }

    button {
      display: block;
      background-color: $blue;
      color: $white;
      margin-top: 2.1rem;
      margin-bottom: 2.1rem;

      // variable's in global.styles variables.scss
      @include button;
      @include shadow;

      transition: all 0.3s ease-in-out;

      &:disabled {
        opacity: 0.2;
      }
    }
  }
}
