// colors
$primary: #0b1e59;
$secondary: #007d99;
$error: #d90404;
$text: #000000;
$offWhite: #f3f3f5;
$white: #ffffff;
$green: #28a745;
$pink: #fc466b;
$blue: #3f5efb;

$RGBAPrimary: rgba(10, 30, 90, 1);
$RGBASecondary: rgba(20, 178, 182, 1);
$RGBAOffWhite: rgba(243, 243, 245, 1);
$RGBAWhite: rgba(255, 255, 255, 1);

// padding
$padding: 0.625rem;
// #013440

/* Color Theme Swatches in Hex */
// $Washup!-—-Self-service-laundry-1-hex: #021E73;
// $Washup!-—-Self-service-laundry-2-hex: #0B1E59;
// $Washup!-—-Self-service-laundry-3-hex: #04B2D9;
// $Washup!-—-Self-service-laundry-4-hex: #05DBF2;
// $Washup!-—-Self-service-laundry-5-hex: #F24405;

// /* Color Theme Swatches in RGBA */
// $Washup!-—-Self-service-laundry-1-rgba: rgba(2,30,114, 1);
// $Washup!-—-Self-service-laundry-2-rgba: rgba(10,30,89, 1);
// $Washup!-—-Self-service-laundry-3-rgba: rgba(4,177,216, 1);
// $Washup!-—-Self-service-laundry-4-rgba: rgba(4,218,242, 1);
// $Washup!-—-Self-service-laundry-5-rgba: rgba(242,68,4, 1);

// /* Color Theme Swatches in HSLA */
// $Washup!-—-Self-service-laundry-1-hsla: hsla(225, 96, 22, 1);
// $Washup!-—-Self-service-laundry-2-hsla: hsla(225, 78, 19, 1);
// $Washup!-—-Self-service-laundry-3-hsla: hsla(191, 96, 43, 1);
// $Washup!-—-Self-service-laundry-4-hsla: hsla(185, 96, 48, 1);
// $Washup!-—-Self-service-laundry-5-hsla: hsla(16, 96, 48, 1);
