$primary: #f2a25c;
$secondary: #1e4040;
$error: #ff4a4a;
$text: #012326;

/* Color Theme Swatches in Hex */
// $Architecture-1-hex: #6c868c;
// $Architecture-2-hex: #012326;
// $Architecture-3-hex: #1e4040;
// $Architecture-4-hex: #f2a25c;
// $Architecture-5-hex: #d9b391;
