.scream-dialog {
  .open-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
    svg {
      width: 1.2rem;
      fill: $green;
    }
  }

  .scream-dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
    background: rgba(63, 94, 251, 0.8);
    background: linear-gradient(
      180deg,
      rgba(38, 74, 255, 0.8) 26%,
      rgba(252, 70, 107, 0.6) 100%
    );
    text-align: -webkit-center;
    overflow: auto;

    .dialog-content {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 5%;
      margin: 0.3rem;
      padding: 1.6rem 1.8rem 3rem 1.8rem;
      max-width: 35rem;
      background-color: $white;
      border-radius: 1.5rem;
      box-shadow: 0px 3px 5px -2px $RGBAPrimary;
      -moz-box-shadow: 0px 3px 5px -2px $RGBAPrimary;
      -webkit-box-shadow: 0px 3px 5px -2px $RGBAPrimary;

      &.toggleIn {
        animation: slideDown 500ms;
      }

      &.toggleOut {
        animation: slideUp 500ms;
      }

      .cancel {
        text-align: right;
        span {
          svg {
            cursor: pointer;
            width: 1.2rem;
            fill: $error;
          }
        }
      }

      .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .scream-dialog-img {
          img {
            width: 9rem;
            height: 9rem;
            display: block;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        a {
          color: $blue;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.03rem;
        }

        .content-container {
          text-align: left;

          section {
            .body {
              font-size: 1.7rem;
              margin-top: 1rem;
              margin-bottom: 1.5rem;
            }

            .like-comment-container {
              display: flex;
              svg {
                width: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-500%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
