.scream {
  padding: 1rem;
  margin-top: 0.625rem;
  background-color: $white;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 3px 5px -2px $RGBAPrimary;
  -moz-box-shadow: 0px 3px 5px -2px $RGBAPrimary;
  -webkit-box-shadow: 0px 3px 5px -2px $RGBAPrimary;

  .scream-card {
    display: flex;
    p {
      margin: 0;
    }

    .img-container {
      padding: 0.6rem;

      img {
        width: 5rem;
        height: 5rem;
        display: block;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .content-container {
      position: relative;
      margin-left: 0.6rem;

      .user-handle {
        font-weight: 500;
        font-size: 1.25rem;
        letter-spacing: 0.04rem;
        color: black;
      }

      .created-at {
        opacity: 0.8;
        font-size: 0.6rem;
      }

      .body {
        font-weight: 400;
        font-size: 1.3rem;
      }

      .action-container {
        display: flex;
        margin-top: 1.8rem;
        font-size: 0.9rem;

        .like-container {
          display: flex;
        }

        .comment-container {
          display: flex;
        }
      }
    }

    .delete-container {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      height: 20%;
    }
  }

  .dialog {
    width: 100%;
    text-align: center;
  }
}
