.add-scream {
  display: inline;

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    margin-left: 1rem;

    svg {
      fill: $white;
      width: 1.5rem;
    }
  }

  .add-scream-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    padding-top: 4.6rem;
    background: rgba(63, 94, 251, 0.5);
    background: linear-gradient(
      180deg,
      rgba(38, 74, 255, 0.3) 26%,
      rgba(252, 70, 107, 0.2) 100%
    );

    &.toggleOut {
      animation: fadeout 500ms;
      opacity: 0;
    }

    form {
      padding: 1.6rem 1.8rem 4rem 1.8rem;
      max-width: 35rem;

      margin: auto;
      margin-right: auto;
      background-color: $white;
      border-radius: 25px;
      box-shadow: 0px 3px 5px -2px $RGBAPrimary;
      -moz-box-shadow: 0px 3px 5px -2px $RGBAPrimary;
      -webkit-box-shadow: 0px 3px 5px -2px $RGBAPrimary;

      &.toggleIn {
        animation: slideDown 500ms;
        opacity: 1;
      }

      &.toggleOut {
        animation: fadeout 500ms;
        opacity: 0;
      }

      h2 {
        font-size: 2rem;
        letter-spacing: 0.0625rem;
        font-weight: 600;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
      }

      textarea {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        border: 0.09rem solid $secondary;
        background: transparent;
        display: block;
        width: 99%;
        margin: auto;
        resize: vertical;
        border-radius: 0.3rem;

        &:focus {
          outline: none;
        }
      }

      .cancel {
        width: 100%;
        text-align: right;

        span {
          cursor: pointer;

          svg {
            fill: $error;
            width: 1.2rem;
            margin-bottom: 0.6rem;
          }
        }
      }

      button {
        width: 7.2rem;
        border-radius: 1.5rem;
        height: 2.5rem;
        color: $white;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.07rem;

        &.add-scream {
          margin: 0;
          margin-top: 1rem;
          border: $primary;
          background-color: $primary;

          box-shadow: 0px 3px 5px -2px $RGBAPrimary;
          -moz-box-shadow: 0px 3px 5px -2px $RGBAPrimary;
          -webkit-box-shadow: 0px 3px 5px -2px $RGBAPrimary;
        }
      }
    }
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
